<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Instancias Vue</title>
</head>
<body>
  <div id="app1">
    {{ titulo1 }}
    <button @click="alterar">Alterar</button>
  </div>

  <div id="app2">
    {{ titulo2 }}
    <button @click="alterar">Alterar</button>
  </div>

  <script>
    new Vue({
      el: "#app1",
      data: {
        titulo1: "Teste1",
      },
      methods: {
        alterar() {
          this.titulo1 += '!!!'
        }
      }
    })

    new Vue({
      el: "#app2",
      data: {
        titulo2: "Teste2",
      },
      methods: {
        alterar() {
          this.titulo2 += '!!!'
        }
      }
    })
  </script>
</body>
</html>
