<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Instancias Vue</title>
</head>
<body>
  <div id="app">
    {{ titulo1 }} {{ novaInfo }}
    <button @click="alterar">Alterar</button>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        titulo1: "Teste1",
      },
      methods: {
        alterar() {
          this.titulo1 += "!"
        }
      }
    })

    vm.novaInfo = 'Teste'
  </script>
</body>
</html>
