<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Vue</title>
</head>
<body>
  <div id="app">
    {{ nome }} {{ sobrenome }} {{ 1 + 1 }}
  </div>

  <script>
    function MeuVue(params) {
      this.$el = document.querySelector(params.el)
      this.$data = params.data

      for (let atr in this.$data) {
        Object.defineProperty(this, atr, {
          get: () => {
            return this.$data[atr]
          },
          set: (value) => {
            //...interceptar o momento antes que você mudou
            this.$data[atr] = value
            //...momento depois
          }
        })
      }

      // interpolação
      const regex = /\{\{([\s\w+]*)\}\}/g
      this.$el.innerHTML = this.$el.innerHTML.replace(regex, (match, $1) => {
        const value = this[$1.trim()]
        // const value = this['nome']
        return value ? value : eval($1)
      })
    }

    const vm = new MeuVue({
      el: '#app',
      data: {
        nome: 'Maria',
        sobrenome: 'Silva'
      }
    })

    console.log(vm.nome)
    console.log(vm.$data.nome)

    vm.nome = 'Pedro'
    console.log(vm.nome)
    console.log(vm.$data.nome)

  </script>
</body>
</html>
