<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Instancias Vue Ref</title>
</head>
<body>
  <div id="app">
    <h1 ref="aulaRef">{{ aula }}</h1>
    <h2>{{ modulo }}</h2>
    <button @click="alterarAula">Alterar Aula</button>
    <button @click="alterarModulo">Alterar Módulo</button>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        aula: 'Aula: Usando Refs',
        modulo: 'Módulo: Instância Vue'
      },
      methods: {
        alterarAula() {
          this.aula += '#'
          console.log(this.$refs.aulaRef.innerText)
        },
        alterarModulo() {
          this.modulo += '#'
        }
      }
    })

    // vm.$refs.aulaRef.innerText = 'Alterado diretamente :('
  </script>
</body>
</html>
