<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Instancias Vue Ref</title>
</head>
<body>
  <div id="app">
  </div>

  <script>
    const vm = new Vue({
      // el: '#app',
      template: `
      <div>
        <h1>{{ aula }}</h1>
        <h2>{{ modulo }}</h2>
        <button @click="alterarAula">Alterar Aula</button>
        <button @click="alterarModulo">Alterar Módulo</button>
      </div>
      `,
      data: {
        aula: 'Aula: Montando Instância Vue',
        modulo: 'Módulo: Instância Vue'
      },
      methods: {
        alterarAula() {
          this.aula += '#'
        },
        alterarModulo() {
          this.modulo += '#'
        }
      }
    })
    // vm.$mount('#app')
    vm.$mount() // em conjunto com o template associado
    document.querySelector('#app').appendChild(vm.$el)
  </script>
</body>
</html>
