<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Instancias Vue Ref</title>
</head>
<body>
  <div id="app">
    <!-- <comp></comp> -->
    <!-- <div class="comp" ></div> -->
    <comp></comp>
    <comp></comp>
  </div>

  <script>
    // const dados = {
    //   aula: 'Aula: Montando Instância Vue',
    //   modulo: 'Módulo: Instância Vue'
    // }

    Vue.component('comp', {
      template: `
        <div>
          <h1>{{ aula }}</h1>
          <h2>{{ modulo }}</h2>
          <button @click="alterarAula">Alterar Aula</button>
          <button @click="alterarModulo">Alterar Módulo</button>
        </div>
      `,
      // data: {
      //   aula: 'Aula: Montando Instância Vue',
      //   modulo: 'Módulo: Instância Vue'
      // },
      // mudança necessária da vue instance para componente
      data: function () {
        return {
          aula: 'Aula: Montando Instância Vue',
          modulo: 'Módulo: Instância Vue'
        }
      },
      methods: {
        alterarAula() {
          this.aula += '#'
        },
        alterarModulo() {
          this.modulo += '#'
        }
      }
    })

    const vm = new Vue({
      el: '#app',
      // el: 'comp',
      // el: '.comp',
    })
  </script>
</body>
</html>
