<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Ciclo de Vida Vue</title>
</head>
<body>
    <div id="app">
      <h2>{{ titulo }}</h2>
      <button @click="titulo +='#'">Alterar</button>
      <button @click="$destroy()">Destroy</button>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          titulo: 'Ciclo de vida Vue',
        },
        beforeCreate() {
          console.log('Antes de criar')
        },
        created() {
          console.log('Criado')
        },
        beforeMount() {
          console.log('Antes de montar (DOM)')
        },
        mounted() {
          console.log('DOM montada')
        },
        beforeUpdate() {
          console.log('Antes de atualizar')
        },
        updated() {
          console.log('Atualizado')
        },
        beforeDestroy() {
          console.log('Antes de destruir')
        },
        destroyed() {
          console.log('Destruído')
        }
      })
    </script>
</body>
</html>
