<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ contador }}</p>
  <button v-on:click="somar(5)">Somar 1</button>
  <p v-on:mousemove="atualizarXY">
    Mouse: {{ x }} e {{ y }}
    <span v-on:mousemove.stop="">PARAR AQUI!!!</span>
  </p>
  <a v-on:click.prevent="" href="https://www.google.com">Gugou</a>
  <hr>
  <input type="text" v-on:keyup.enter="exibirAlerta"/>
</div>
  
<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
      x: 0,
      y: 0
    },
    methods: {
      somar(passo) {
        this.contador += passo
      },
      atualizarXY(e) {
        this.x = e.clientX
        this.y = e.clientY
      },
      // parar(e) {
      //   e.stopPropagation()
      // },
      exibirAlerta(e) {
        alert(e.target.value)
      }
    }
  }) 
</script>
