<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ titulo }}</p>
  <input 
    type="text" 
    v-bind:value="titulo" 
    v-on:input="titulo = $event.target.value" 
  />
  
  <hr>
  <p>{{ titulo1 }}</p>
  <input 
    type="text" 
    v-model="titulo1" 
  />
</div>
  
<script>
  new Vue({
    el: '#app',
    data: {
      titulo: 'Usando VueJS!!!',
      titulo1: 'Usando VueJS!!!',
    }
  }) 
</script>
