<script src="https://unpkg.com/vue"></script>

<div id="app">
  <button v-on:click="aumentar">Aumentar</button>
  <button v-on:click="contador2++">Aumentar 2</button>
  <button v-on:click="diminuir">Diminuir</button>
  <p>Contador: {{ contador }} | {{ contador2 }}</p>
  <p>Resultado: {{ resultado }}</p>
  <!-- Propriedades computadas não são chamadas como métodos, 
       são chamadas como atributos -->
</div>
  
<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
      contador2: 0,
    },
    computed: {
      resultado() {
        console.log('Metodo computed resultado chamado')
        return this.contador >= 5 ? 'Maior ou igual a 5' 
        : 'Menor que 5'
      }
    },
    methods: {
      aumentar() {
        this.contador ++
      },
      diminuir() {
        this.contador --
      },
      // resultado() {
      //   console.log('Método resultado chamado')
      //   return this.contador >= 5 ? 'Maior ou igual a 5' 
      //   : 'Menor que 5'
      // },
    }
  }) 
</script>
