<script src="https://unpkg.com/vue"></script>

<div id="app">
  <button v-on:click="aumentar">Aumentar</button>
  <button v-on:click="contador2++">Aumentar 2</button>
  <button v-on:click="diminuir">Diminuir</button>
  <p>Contador: {{ contador }} | {{ contador2 }}</p>
  <p>Resultado: {{ resultado }}</p>
  <!-- Propriedades computadas não são chamadas como métodos, 
       são chamadas como atributos -->
</div>
  
<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
      contador2: 0,
    },
    computed: {
    // Propriedades computadas ssão síncronas -> ao chamar a propriedade 
    // obrigatoriamente precisa retornar o valor
      resultado() {
        console.log('Metodo computed resultado chamado')
        return this.contador >= 5 ? 'Maior ou igual a 5' 
        : 'Menor que 5'
      }
    },
    watch: {
    // 1. Ao contrário do que ocorre com data, computed e method, em que não pode
    // haver conflito, no caso do watch precisa ser informado exatamente o nome
    // da propriedade que você quer monitorar a partir da chamada da função.
      contador(novo, antigo) {
        setTimeout(() => {
          this.contador = 0
        }, 2000);
      }
    },
    methods: {
      aumentar() {
        this.contador ++
      },
      diminuir() {
        this.contador --
      },
      // resultado() {
      //   console.log('Método resultado chamado')
      //   return this.contador >= 5 ? 'Maior ou igual a 5' 
      //   : 'Menor que 5'
      // },
    }
  }) 
</script>
