<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ contador }}</p>
  <!-- <button v-on:click="somar">Somar 1</button> -->
  <button @click="somar">Somar 1</button>
  <hr>
  <!-- <input type="text" v-bind:value="contador"/> -->
  <input type="text" :value="contador"/>
</div>
  
<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
    },
    methods: {
      somar() {
        this.contador++
      },
    }
  }) 
</script>
