<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Revisão</title>
</head>
<body>
  <div id="app">
    <contador></contador>
  </div>
  <script>
    Vue.component('contador', {
      template: `
        <div>
          <span>{{ contador }}</span>
          <button @click="contador ++">Aumentar</button>
          <button @click="contador --">Diminuir</button>
        </div>
      `,
      data() {
        return {
          contador: 0,
        }
      }
    })

    new Vue({
      el: '#app',
    })
  </script>
</body>
</html>
