<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue" ></script>

  <title>Revisão</title>
</head>
<body>
  <div id="app1">
    <contador1></contador1>
    <contador1></contador1>
    <contador1></contador1>
  </div>
  <hr>
  <div id="app2">
    <app-contador></app-contador>
    <app-contador></app-contador>
    <app-contador></app-contador>
  </div>

  <script>
    // Registro global
    // Vue.component('contador', {
    //   template: `
    //     <div>
    //       <span>{{ contador }}</span>
    //       <button @click="contador ++">Aumentar</button>
    //       <button @click="contador --">Diminuir</button>
    //     </div>
    //   `,
    //   data() {
    //     return {
    //       contador: 0,
    //     }
    //   }
    // })

    const contador = {
      template: `
        <div>
          <span>{{ contador }}</span>
          <button @click="contador ++">Aumentar</button>
          <button @click="contador --">Diminuir</button>
        </div>
      `,
      data() {
        return {
          contador: 0,
        }
      }
    }

    new Vue({
      el: '#app1',
      // Registro local
      components: {
        contador1: contador
      }
    })

    new Vue({
      el: '#app2',
      // Registro local
      components: {
        //nomes não aderentes aos identificadores js necessitam aspas
        'app-contador': contador
      }
    })
  </script>
</body>
</html>
