<template>
  <div class="citacoes">
    <span>
      <button @click="numero--">&lt;</button>
      <button @click="numero++">&gt;</button>
    </span>
    <Citacao>
      <h1 slot="autor">{{ citacoes[indice].autor }}</h1>
      <p slot="texto">{{ citacoes[indice].texto }}</p>
      <h6 slot="fonte">{{ citacoes[indice].fonte }}</h6>
    </Citacao>
  </div>
</template>

<script>
import Citacao from './Citacao'

export default {
  // created() {
  //   console.log('created')
  // },
  // destroyed() {
  //   console.log('destroyed')
  // },
  // só funcionarão se o keep alive estiver sendo usado no componente com o qual
  // está se comunicando
  activated() {
    console.log('activated')
  },
  deactivated() {
    console.log('deactivated')
  },
  components: { Citacao },
  data() {
    return {
      numero: 0,
      citacoes: [{
        fonte: 'Jornal do Empreendedor',
        texto: 'Lembre-se sempre que você é absolutamente único. Assim como todos os outros.',
        autor: 'Margaret Mead'
    }, {
        fonte: 'Frases de Mãe',
        texto: 'Isso não é um quarto, é um chiqueiro.',
        autor: 'Roberta'
    }, {
        fonte: 'Frases de Pai',
        texto: 'Vou contar até 3! 1, 2, 2...',
        autor: 'Gustavo'
      }]
    }
  },
  computed: {
    indice() {
      return Math.abs(this.numero % 3)
    }
  }
}
</script>

<style scoped>
  .citacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
