<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>

  <title>Listas V6</title>
</head>
<body>
  <div id="desafio">
    <span>1) Ligue o botão para alternar a exibição dos dois
    parágrafos. Use ambos v-if e v-show e inspecione os elementos
    para ver a diferença.</span>
    <div class="questao1">
      <br>
      <button @click="expressao = !expressao">Alternar</button>
      <br>
      <p v-if="expressao">Você quer me ver ...</p>
      <p v-else>...ou eu</p>
      <br>
      <p v-show="expressao">Você quer me ver ...</p>
      <p v-show="!expressao">...ou eu</p>
    </div>
    <hr>

    <span>2) Exiba em uma "ul" um array de elementos da sua escolha.
      Imprima também o índice de cada elemento.</span>
    <ul>
      <li v-for="(nome, i) in nomes">(i{{ i }}) {{ nome }}</li>
    </ul>
    <hr>
    
    <span>3) Imprimir todos os pares de valor-chave do objeto a seguir:
      <br>
      {
        titulo: 'O Senhor dos Anéis',
        autor: 'J.R.R. Tolkiens',
        volume: '3'
      }.
      <br>
      Imprima também o índice de cada item.</span>
    <ul>
      <li>
        <div v-for="(valor, chave, index) in livro" class="div">
          <p>{{ chave }}:</p> {{ valor }} (i{{ index }}) |         
        </div>
      </li>
    </ul>
    <hr>
  
    <span>4) Imprima o seguinte objeto (somente os valores) e
      também crie um loop aninhado para o array:
      {
        id: 10,
        nome: 'Maria',
        notas: [7.67, 8.33, 6.98, 9.21]
      }
      <br>
      (dica: use v-for e v-if na resolução)</span>
    <ul>
      <li v-for="(valor) in aluno">
        <template v-if="!Array.isArray(valor)">
         {{ valor }}
        </template>
        <template v-else>
          Notas:
          <ul>
            <li v-for="nota in valor">{{ nota }}</li>
          </ul>
        </template>
      </li>
    </ul>
  </div>

  <style>
    #desafio {
      padding: 10px 20px;
    }
    * {
      font-family: 'Work Sans', sans-serif;
    }
    .questao1 {
      margin-left: 40px;
    }
    h1 {
      margin-left: 40px;
    }
    ul {
      list-style: none;
    }
    h1, p {
      display: inline;
    }
    span {
      font-weight: bold;
      color: dimgray;
    }
    .div {
      display: inline;
    }
    .div p {
      font-weight: bold;
    }
  </style>

  <script src="./app.js"></script>

</body>
</html>