<script src="https://unpkg.com/vue"></script> 

<div id="desafio">
    <!-- 1) Exiba um alert quando o botão for clicado -->
    <div>
        <button v-on:click="exibirAlerta">Exibir Alerta</button>
    </div>

    <hr>
    
    <!-- 2) Escute o evento "keydown" e armazene o valor na propriedade
        data (dica: event.target.value) -->
    
    <div>
        <input type="text" v-on:keydown="valor3 = $event.target.value">
        <p>{{ valor3 }}</p>
    </div>
    
    <hr>
        
    <div>
        <input type="text" v-on:keydown="printText1">
        <p>{{ valor1 }}</p>
    </div>

    <hr>
    
    <!-- 3) Ajuste o exemplo 2 para disparar o evento "keydown" somente
        quando a tecla for ENTER -->
    <div>
        <input type="text" v-on:keyup.enter="printText2">
        <p>{{ valor2 }}</p>
    </div>
</div>
<script src="app.js"></script>