<template>
  <div
    @click="$emit('taskStateChange', task)"
    class="task"
    :class="stateClass"
  >
    <!-- Stop para evitar que o clique da div de fora gere erro, já que o mesmo
    elemento está propagando dois eventos no clique -->
    <span @click.stop="$emit('taskDeleted', task)" class="close">x</span>
    <p>{{ task.name }}</p>
  </div>
</template>

<script>
export default {
  props: {
    task: { type: Object, required: true }
  },
  computed: {
    stateClass() {
      return {
        pending: this.task.pending,
        done: !this.task.pending
      }
    }
  }
}
</script>

<style>
  .task {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 350px;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
  }

  .pending {
    border-left: 12px solid #873229;
    background-color: #f44336;
  }

  .pending .close {
    background-color: #b73229;
  }

  .done {
    color: #ddd;
    border-left: 12px solid #0a8f08;
    background-color: #4caf50;
    text-decoration: line-through;
  }

  .done .close {
    background-color: #0a8f08;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
  }
</style>
