<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
  <title>Condicionais V1</title>
</head>
<body>
  <div id="app">
    <p v-if="logado">Usuário logado: {{ nome }}</p>
    <p v-else>Nenhum usuário logado</p>
    <!-- v-else precisa estar no elemento imediatamente posterior -->
    <!-- <p v-if="!logado">Nenhum usuário logado</p> -->
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        nome: 'Camila',
        logado: false,
      }
    })
  </script>
</body>
</html>