<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
  <title>Condicionais V3</title>
</head>
<body>
  <div id="app">
    <template v-if="logado">
      <p >Usuário logado: {{ nome }}</p>
      <p>Perfil: Admin</p>
    </template>
    <!-- 'template' faz o mesmo papel de 'div sem renderizar o elemento no HTML' -->

    <p v-else-if="anonimo">Navegando como anônimo</p>
    <!-- <p Todos os elementos precisam estar encadeados</p> -->
    
      <p v-else>Nenhum usuário logado</p>
    <!-- v-else precisa estar no elemento imediatamente posterior -->
    <!-- <p v-if="!logado">Nenhum usuário logado</p> -->
    
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
    <input type="checkbox" v-model="anonimo">
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        nome: 'Camila',
        logado: false,
        anonimo: true,
      }
    })
  </script>
</body>
</html>