<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
  <title>Listas V1</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="cor in cores">{{ cor }}</li>
    </ul>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        cores: ['vermelho', 'verde', 'amarelo', 'azul'],
        pessoas: [
          {nome: 'Ana', idade: 26, peso: 59 },
          {nome: 'Guilherme', idade: 22, peso:89 },
        ]
      }
    })
  </script>
</body>
</html>