<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
  <title>Listas V3</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(cor, i) in cores">{{ cor }} - {{ i }}</li>
      <hr>
      <li v-for="(cor, i) in cores">{{ i }}) {{ cor }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
      <h1>{{ cor }}</h1>
      <p>{{ i }}</p>
    </template>
    <hr>
    <div v-for="(cor, i) in cores">
      <h1>{{ cor }}</h1>
      <p>{{ i }}</p>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        cores: ['vermelho', 'verde', 'amarelo', 'azul'],
        pessoas: [
          {nome: 'Ana', idade: 26, peso: 59 },
          {nome: 'Guilherme', idade: 22, peso:89 },
        ]
      }
    })
  </script>

  <style>
    ul {
      list-style: none;
    }
    h1, p {
      display: inline;
    }
  </style>
</body>
</html>