<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <title>Listas V4</title>
</head>
<body>
  <div id="app">
    <ul class="lista-simples">
      <span>Listas simples</span>
      <li v-for="(cor, i) in cores">{{ cor }} - i{{ i }}</li>
      <br>
      <li v-for="(cor, i) in cores">{{ i + 1 }}) {{ cor }}</li>
    </ul>
    <hr>
    <span>Lista utilizando 'template'</span>
    <br>
    <template v-for="(cor, i) in cores">
      <h1>{{ cor }}</h1>
      <p> - (i{{ i }})</p>
    </template>
    <hr>
    <span>Lista utilizando 'div'</span>
    <div v-for="(cor, i) in cores">
      <h1>{{ cor }}</h1>
      <p> - (i{{ i }})</p>
    </div>
    <hr>
    <span>Interpolação de objetos</span>
    <ul>
      <li v-for="pessoa in pessoas">
        <div v-for="(valor, chave, index) in pessoa" class="div">
          {{ chave }}: {{ valor }} (i{{ index }}) |
        </div>
      </li>
    </ul>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        cores: ['vermelho', 'verde', 'amarelo', 'azul'],
        pessoas: [
          {nome: 'Ana', idade: 26, peso: 59 },
          {nome: 'Guilherme', idade: 22, peso:89 },
        ]
      }
    })
  </script>

  <style>
    * {
      font-family: 'Work Sans', sans-serif;
    }
    .lista-simples span {
      margin-left: 0 !important;
    }
    h1 {
      margin-left: 40px;
    }
    ul {
      list-style: none;
    }
    h1, p {
      display: inline;
    }
    span {
      font-style: italic;
      font-weight: bold;
      margin-left: 40px;
    }
    .div {
      display: inline;
    }
  </style>
</body>
</html>